<section class="py-10 bg-white">
  <div class="container mx-auto px-6 md:px-20 grid md:grid-cols-2 gap-5 items-center font-main">

    <!-- Bloque 1 -->
    <div class="text-center md:order-1 order-1 mr-5 break-normal">
      <p class="tracking-wide text-gray-700 md:text-xl mb-4">
        Somos <strong>Mariachi Juvenil Mexicanísimo</strong>, una agrupación orgullosamente mexicana
        dedicada a compartir la pasión por la música vernácula.
      </p>
      <p class="tracking-wide text-gray-700 md:text-xl">
        Nos especializamos en llevar serenatas, alegría y tradición a todo
        tipo de eventos: <strong>bodas</strong>, <strong>cumpleaños</strong>, <strong>aniversarios</strong>,
        <strong>celebraciones religiosas</strong> y más.
      </p>
    </div>
    <div class="flex justify-center md:order-2 order-2">
      <img
        src="assets/images/infomosaico_1.JPG"
        alt="Música en vivo"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

    <!-- Bloque 2 -->
    <div class="flex justify-center md:order-3 order-4">
      <img
        src="assets/images/infomosaico_2.JPG"
        alt="Repertorio amplio"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="text-center md:order-4 order-3 break-normal">
      <p class="tracking-wide text-gray-700 md:text-xl mb-4">
        Tenemos más de <strong>40 años de experiencia</strong>, combinando talento, presencia y
        carisma para ofrecer presentaciones memorables, llenas de emoción y autenticidad.
      </p>
      <p class="tracking-wide text-gray-700 md:text-xl">
        Nos distinguimos por nuestra <strong>puntualidad</strong>, <strong>presentación impecable</strong> y
        <strong>repertorio versátil</strong>, que abarca desde los clásicos de José Alfredo Jiménez hasta
        las canciones más solicitadas por el público actual.
      </p>
    </div>
  </div>
</section>
