<div class="flex justify-center ml-5 max-w-5xl justify-self-center py-5">
  <img
    src="assets/hero/hero1.jpeg"
    alt="Repertorio amplio"
    class="aspect-3/2 object-cover rounded-2xl shadow-md"
  />
</div>
<div>
  <h1 class="text-center font-main text-2xl md:text-4xl font-bold text-mariachiBrown">¡Conoce al mejor mariachi de León y a todos sus integrantes!</h1>
</div>
<app-infomosaic></app-infomosaic>
<div>
  <h1 class="text-center font-main text-2xl md:text-4xl font-bold text-mariachiBrown">¡A tus órdenes, Mariachi Juvenil Mexicanísimo!</h1>
</div>
<app-members></app-members>
