<section class="py-10 bg-white flex justify-center">
  <div class="container mx-auto px-6 md:px-20 grid md:grid-cols-2 gap-12 items-center font-main justify-items-center">

    <!-- Bloque 1 -->
    <div class="space-y-2 text-center md:order-1">
      <img
        src="assets/galery/galery1.jpg"
        alt="Quinceañera"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="flex text-center md:order-2">
      <img
        src="assets/galery/galery2.jpg"
        alt="Grupal"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

    <!-- Bloque 2 -->
    <div class="space-y-2 text-center md:order-3">
      <img
        src="assets/galery/galery3.JPG"
        alt="Violín"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="flex text-center md:order-4">
      <img
        src="assets/galery/galery4.JPG"
        alt="Trompetas"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

    <!-- Bloque 3 -->
    <div class="space-y-2 text-center md:order-5">
      <img
        src="assets/galery/galery5.webp"
        alt="Monumento"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="flex justify-center md:order-6">
      <img
        src="assets/galery/galery6.webp"
        alt="Pareja"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

    <!-- Bloque 4 -->
    <div class="space-y-2 text-center md:order-7">
      <img
        src="assets/galery/galery7.JPG"
        alt="Familia"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="flex justify-center md:order-8">
      <img
        src="assets/galery/galery8.JPG"
        alt="Fiesta"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

    <!-- Bloque 5 -->
    <div class="space-y-2 text-center md:order-9">
      <img
        src="assets/galery/galery9.jpg"
        alt="Hijos"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>
    <div class="flex justify-center md:order-10">
      <img
        src="assets/galery/galery10.jpg"
        alt="Cantante Femenina"
        class="aspect-3/2 object-cover rounded-2xl shadow-md"
      />
    </div>

  </div>
</section>
