<nav class="bg-mariachiWhite/80 backdrop-blur-md text-white fixed w-full z-50">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-24">

      <!-- LOGO -->
      <div class="flex-shrink-0 hidden md:flex items-center">
        <img src="assets/images/logo.png" alt="Logo Mariachi" class="h-24 w-auto ml-[70px] hover:scale-110 transition">
      </div>

      <!-- LOGO MÓVIL -->
      <div class="flex-shrink-0 flex md:hidden items-center mx-auto">
        <img src="assets/images/logo.png" alt="Logo Mariachi" class="h-24 w-auto hover:scale-110 transition">
      </div>

      <!-- BOTÓN MÓVIL -->
      <div class="flex md:hidden">
        <button (click)="toggleMenu()" class="inline-flex items-center justify-center p-2 rounded-md text-mariachiGold hover:text-mariachiBrown focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-mariachiGold">
          <svg *ngIf="!menuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg *ngIf="menuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <!-- LINKS (versión desktop) -->
      <div class="hidden md:flex space-x-8 items-center text-mariachiBrown font-main">
        <a href="inicio" class="hover:text-mariachiGold">Inicio</a>
        <a href="conocenos" class="hover:text-mariachiGold">Conócenos</a>
        <a href="galeria" class="hover:text-mariachiGold">Galería</a>
        <a href="contacto" class="hover:text-mariachiGold">Contacto</a>
        <button (click)="contactWhatsApp()" class="bg-mariachiGold text-mariachiWhite px-4 py-2 rounded-full hover:bg-mariachiEnfasis hover:scale-110 transition">
          Contrátanos
        </button>
      </div>
    </div>
  </div>

  <!-- MENU MÓVIL -->
  <div
    class="md:hidden bg-mariachiWhite border-t border-mariachiGold overflow-hidden transition-all duration-300 origin-top"
    [class.max-h-0]="!menuOpen"
    [class.max-h-96]="menuOpen"
    [class.opacity-0]="!menuOpen"
    [class.opacity-100]="menuOpen"
  >
    <div class="px-2 pt-2 pb-3 space-y-1 transition-all duration-300 text-mariachiBrown font-main">
      <a href="inicio" class="block px-3 py-2 rounded-md hover:bg-mariachiLight transition">Inicio</a>
      <a href="conocenos" class="block px-3 py-2 rounded-md hover:bg-mariachiLight transition">Conócenos</a>
      <a href="galeria" class="block px-3 py-2 rounded-md hover:bg-mariachiLight transition">Galería</a>
      <a href="contacto" class="block px-3 py-2 rounded-md hover:bg-mariachiLight transition">Contacto</a>
      <button (click)="contactWhatsApp()" class="w-full mt-2 bg-mariachiGold text-mariachiWhite px-4 py-2 rounded-full hover:bg-mariachiEnfasis transition">
        Contrátanos
      </button>
    </div>
  </div>
</nav>
<a (click)="contactWhatsApp()"
  class="fixed bottom-6 right-6 bg-green-500 text-white p-3 rounded-full shadow-lg hover:bg-green-600 transition"
>
  <img src="assets/icons/whatsapp-float.png" alt="Whatsapp" class="h-10">
</a>

