<!------------ DESKTOP VERSION ------------>
<section class="bg-white py-5">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div
        *ngFor="let img of images"
        class="relative overflow-hidden rounded-xl aspect-[3/4] shadow-md hover:scale-105 transition-transform duration-500"
      >
        <img
          [src]="img"
          alt="Foto del mariachi"
          class="object-cover w-full h-full"
        />
      </div>
    </div>
  </div>
</section>
